.footer {
  width: 100%;
  background-color: white;
  padding: 1rem 2rem;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.footerContent {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Nunito Sans', sans-serif;
  color: #666;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.footerContent p {
  margin: 0 0.5rem;
  @media (max-width: 768px) {
    order: 2;
  }
}
.footerContent div {
  @media (max-width: 768px) {
    order: 1;
  }
}
.links {
    @media (max-width: 768px) {
      padding-bottom: 0.5rem;
    }
}
.links span {
  color: #2C2770;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.5rem;
}

.modalContent {
    width: 100%;
    height: 400px;
    border: none;
  }
  